In [5]:
import numpy as np
import pandas as pd

data1 = pd.read_csv('a4_data_kaggle.csv')
data1

,country,year,sex,age,suicides,population,gdp,generation
0,Albania,1987,male,15-24 years,21,312900,"2,156,624,900",Generation X
1,Albania,1987,male,35-54 years,16,308000,"2,156,624,900",Silent
2,Albania,1987,female,15-24 years,14,289700,"2,156,624,900",Generation X
3,Albania,1987,male,75+ years,1,21800,"2,156,624,900",G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,"2,156,624,900",Boomers
...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,"63,067,077,179",Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,"63,067,077,179",Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,"63,067,077,179",Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,"63,067,077,179",Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,"63,067,077,179",Boomers

In [50]:
countries = dict(list(data1.groupby('country')))
countries.keys()

dict_keys(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador', 'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands', 'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea', 'Romania', 'Russian Federation', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and Grenadines', 'San Marino', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland', 'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan'])

In [51]:
countries['Albania']

,country,year,sex,age,suicides,population,gdp,generation
0,Albania,1987,male,15-24 years,21,312900,"2,156,624,900",Generation X
1,Albania,1987,male,35-54 years,16,308000,"2,156,624,900",Silent
2,Albania,1987,female,15-24 years,14,289700,"2,156,624,900",Generation X
3,Albania,1987,male,75+ years,1,21800,"2,156,624,900",G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,"2,156,624,900",Boomers
...,...,...,...,...,...,...,...,...
259,Albania,2010,female,35-54 years,12,394593,"11,926,953,259",Generation X
260,Albania,2010,female,55-74 years,7,241491,"11,926,953,259",Silent
261,Albania,2010,female,15-24 years,6,263581,"11,926,953,259",Millenials
262,Albania,2010,female,5-14 years,2,223969,"11,926,953,259",Generation Z
263,Albania,2010,male,5-14 years,0,240939,"11,926,953,259",Generation Z

In [52]:
for key in countries:
    countries[key].drop('country', axis = 1, inplace = True)

In [54]:
for key in countries:
    countries[key] = countries[key].pivot_table(index = ['year','age'], columns = 'generation', values = 'suicides')

In [59]:
missing_years = []

for year in range(2000,2017):
    print(year)
    for key in countries:
        try:
            countries[key].loc[year]
        except:
            missing_years.append((key, year))

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [60]:
missing_years

[('Bosnia and Herzegovina', 2000),
 ('Cabo Verde', 2000),
 ('Dominica', 2000),
 ('Fiji', 2000),
 ('Grenada', 2000),
 ('Guyana', 2000),
 ('Macau', 2000),
 ('Mongolia', 2000),
 ('Nicaragua', 2000),
 ('Oman', 2000),
 ('Qatar', 2000),
 ('Saint Kitts and Nevis', 2000),
 ('Seychelles', 2000),
 ('Turkey', 2000),
 ('United Arab Emirates', 2000),
 ('Bosnia and Herzegovina', 2001),
 ('Cabo Verde', 2001),
 ('Cyprus', 2001),
 ('Dominica', 2001),
 ('Macau', 2001),
 ('Mongolia', 2001),
 ('Nicaragua', 2001),
 ('Oman', 2001),
 ('Saint Kitts and Nevis', 2001),
 ('San Marino', 2001),
 ('Thailand', 2001),
 ('Turkey', 2001),
 ('United Arab Emirates', 2001),
 ('Bosnia and Herzegovina', 2002),
 ('Cabo Verde', 2002),
 ('Cyprus', 2002),
 ('Dominica', 2002),
 ('Georgia', 2002),
 ('Kiribati', 2002),
 ('Macau', 2002),
 ('Mongolia', 2002),
 ('Nicaragua', 2002),
 ('Oman', 2002),
 ('Qatar', 2002),
 ('Saint Kitts and Nevis', 2002),
 ('San Marino', 2002),
 ('Turkey', 2002),
 ('United Arab Emirates', 2002),
 ('Bosnia and Herzegovina', 2003),
 ('Cabo Verde', 2003),
 ('Cyprus', 2003),
 ('Dominica', 2003),
 ('Georgia', 2003),
 ('Kiribati', 2003),
 ('Macau', 2003),
 ('Mongolia', 2003),
 ('Nicaragua', 2003),
 ('Oman', 2003),
 ('Qatar', 2003),
 ('Saint Kitts and Nevis', 2003),
 ('San Marino', 2003),
 ('Turkey', 2003),
 ('United Arab Emirates', 2003),
 ('Armenia', 2004),
 ('Belarus', 2004),
 ('Bosnia and Herzegovina', 2004),
 ('Cabo Verde', 2004),
 ('Dominica', 2004),
 ('Kiribati', 2004),
 ('Macau', 2004),
 ('Mongolia', 2004),
 ('Nicaragua', 2004),
 ('Oman', 2004),
 ('Philippines', 2004),
 ('Portugal', 2004),
 ('Saint Kitts and Nevis', 2004),
 ('San Marino', 2004),
 ('Sri Lanka', 2004),
 ('Turkey', 2004),
 ('United Arab Emirates', 2004),
 ('Armenia', 2005),
 ('Australia', 2005),
 ('Azerbaijan', 2005),
 ('Belarus', 2005),
 ('Bosnia and Herzegovina', 2005),
 ('Cabo Verde', 2005),
 ('Dominica', 2005),
 ('Kiribati', 2005),
 ('Macau', 2005),
 ('Mongolia', 2005),
 ('Nicaragua', 2005),
 ('Oman', 2005),
 ('Philippines', 2005),
 ('Portugal', 2005),
 ('Saint Kitts and Nevis', 2005),
 ('Sri Lanka', 2005),
 ('Turkey', 2005),
 ('Azerbaijan', 2006),
 ('Belarus', 2006),
 ('Bosnia and Herzegovina', 2006),
 ('Cabo Verde', 2006),
 ('Dominica', 2006),
 ('Kiribati', 2006),
 ('Macau', 2006),
 ('Maldives', 2006),
 ('Mongolia', 2006),
 ('Nicaragua', 2006),
 ('Oman', 2006),
 ('Portugal', 2006),
 ('Saint Kitts and Nevis', 2006),
 ('San Marino', 2006),
 ('Turkey', 2006),
 ('Uzbekistan', 2006),
 ('Bosnia and Herzegovina', 2007),
 ('Cabo Verde', 2007),
 ('Dominica', 2007),
 ('Jamaica', 2007),
 ('Kiribati', 2007),
 ('Macau', 2007),
 ('Mongolia', 2007),
 ('Nicaragua', 2007),
 ('Oman', 2007),
 ('Saint Kitts and Nevis', 2007),
 ('Saint Lucia', 2007),
 ('San Marino', 2007),
 ('Sri Lanka', 2007),
 ('Turkey', 2007),
 ('Uzbekistan', 2007),
 ('Azerbaijan', 2008),
 ('Bosnia and Herzegovina', 2008),
 ('Cabo Verde', 2008),
 ('Dominica', 2008),
 ('Georgia', 2008),
 ('Jamaica', 2008),
 ('Kiribati', 2008),
 ('Macau', 2008),
 ('Mongolia', 2008),
 ('Nicaragua', 2008),
 ('Oman', 2008),
 ('Saint Kitts and Nevis', 2008),
 ('San Marino', 2008),
 ('Sri Lanka', 2008),
 ('Turkey', 2008),
 ('Uzbekistan', 2008),
 ('Azerbaijan', 2009),
 ('Bosnia and Herzegovina', 2009),
 ('Cabo Verde', 2009),
 ('Dominica', 2009),
 ('Kiribati', 2009),
 ('Macau', 2009),
 ('Maldives', 2009),
 ('Mongolia', 2009),
 ('Nicaragua', 2009),
 ('Saint Kitts and Nevis', 2009),
 ('San Marino', 2009),
 ('Sri Lanka', 2009),
 ('Antigua and Barbuda', 2010),
 ('Azerbaijan', 2010),
 ('Bosnia and Herzegovina', 2010),
 ('Cabo Verde', 2010),
 ('Dominica', 2010),
 ('Fiji', 2010),
 ('Kiribati', 2010),
 ('Macau', 2010),
 ('Mongolia', 2010),
 ('Montenegro', 2010),
 ('Saint Kitts and Nevis', 2010),
 ('San Marino', 2010),
 ('Sri Lanka', 2010),
 ('Albania', 2011),
 ('Antigua and Barbuda', 2011),
 ('Azerbaijan', 2011),
 ('Dominica', 2011),
 ('Kiribati', 2011),
 ('Macau', 2011),
 ('Mongolia', 2011),
 ('Montenegro', 2011),
 ('Oman', 2011),
 ('Saint Kitts and Nevis', 2011),
 ('San Marino', 2011),
 ('Slovakia', 2011),
 ('Sri Lanka', 2011),
 ('United Arab Emirates', 2011),
 ('Uruguay', 2011),
 ('Albania', 2012),
 ('Aruba', 2012),
 ('Azerbaijan', 2012),
 ('Belarus', 2012),
 ('Bosnia and Herzegovina', 2012),
 ('Cabo Verde', 2012),
 ('Dominica', 2012),
 ('Jamaica', 2012),
 ('Kiribati', 2012),
 ('Macau', 2012),
 ('Maldives', 2012),
 ('Mongolia', 2012),
 ('Montenegro', 2012),
 ('Oman', 2012),
 ('Philippines', 2012),
 ('Saint Kitts and Nevis', 2012),
 ('San Marino', 2012),
 ('Sri Lanka', 2012),
 ('Trinidad and Tobago', 2012),
 ('United Arab Emirates', 2012),
 ('Albania', 2013),
 ('Aruba', 2013),
 ('Azerbaijan', 2013),
 ('Bosnia and Herzegovina', 2013),
 ('Cabo Verde', 2013),
 ('Dominica', 2013),
 ('Fiji', 2013),
 ('Jamaica', 2013),
 ('Kiribati', 2013),
 ('Macau', 2013),
 ('Maldives', 2013),
 ('Mongolia', 2013),
 ('Montenegro', 2013),
 ('Oman', 2013),
 ('Philippines', 2013),
 ('Saint Kitts and Nevis', 2013),
 ('San Marino', 2013),
 ('Sri Lanka', 2013),
 ('Trinidad and Tobago', 2013),
 ('Ukraine', 2013),
 ('United Arab Emirates', 2013),
 ('Albania', 2014),
 ('Aruba', 2014),
 ('Azerbaijan', 2014),
 ('Bahamas', 2014),
 ('Barbados', 2014),
 ('Cabo Verde', 2014),
 ('Canada', 2014),
 ('Dominica', 2014),
 ('Fiji', 2014),
 ('Guyana', 2014),
 ('Jamaica', 2014),
 ('Kiribati', 2014),
 ('Macau', 2014),
 ('Maldives', 2014),
 ('Mongolia', 2014),
 ('Montenegro', 2014),
 ('New Zealand', 2014),
 ('Philippines', 2014),
 ('Saint Kitts and Nevis', 2014),
 ('San Marino', 2014),
 ('Sri Lanka', 2014),
 ('Trinidad and Tobago', 2014),
 ('United Arab Emirates', 2014),
 ('Albania', 2015),
 ('Aruba', 2015),
 ('Azerbaijan', 2015),
 ('Bahamas', 2015),
 ('Bahrain', 2015),
 ('Barbados', 2015),
 ('Belarus', 2015),
 ('Bosnia and Herzegovina', 2015),
 ('Bulgaria', 2015),
 ('Cabo Verde', 2015),
 ('Canada', 2015),
 ('Costa Rica', 2015),
 ('Dominica', 2015),
 ('El Salvador', 2015),
 ('Fiji', 2015),
 ('France', 2015),
 ('Guyana', 2015),
 ('Ireland', 2015),
 ('Jamaica', 2015),
 ('Kiribati', 2015),
 ('Kuwait', 2015),
 ('Macau', 2015),
 ('Maldives', 2015),
 ('Mongolia', 2015),
 ('Montenegro', 2015),
 ('New Zealand', 2015),
 ('Oman', 2015),
 ('Paraguay', 2015),
 ('Philippines', 2015),
 ('Portugal', 2015),
 ('Saint Kitts and Nevis', 2015),
 ('Saint Lucia', 2015),
 ('San Marino', 2015),
 ('Slovakia', 2015),
 ('Sri Lanka', 2015),
 ('Suriname', 2015),
 ('Trinidad and Tobago', 2015),
 ('United Arab Emirates', 2015),
 ('Uzbekistan', 2015),
 ('Albania', 2016),
 ('Antigua and Barbuda', 2016),
 ('Argentina', 2016),
 ('Aruba', 2016),
 ('Australia', 2016),
 ('Azerbaijan', 2016),
 ('Bahamas', 2016),
 ('Bahrain', 2016),
 ('Barbados', 2016),
 ('Belarus', 2016),
 ('Belgium', 2016),
 ('Belize', 2016),
 ('Bosnia and Herzegovina', 2016),
 ('Brazil', 2016),
 ('Bulgaria', 2016),
 ('Cabo Verde', 2016),
 ('Canada', 2016),
 ('Chile', 2016),
 ('Colombia', 2016),
 ('Costa Rica', 2016),
 ('Cuba', 2016),
 ('Denmark', 2016),
 ('Dominica', 2016),
 ('Ecuador', 2016),
 ('El Salvador', 2016),
 ('Estonia', 2016),
 ('Fiji', 2016),
 ('Finland', 2016),
 ('France', 2016),
 ('Georgia', 2016),
 ('Germany', 2016),
 ('Greece', 2016),
 ('Guatemala', 2016),
 ('Guyana', 2016),
 ('Ireland', 2016),
 ('Israel', 2016),
 ('Italy', 2016),
 ('Jamaica', 2016),
 ('Japan', 2016),
 ('Kazakhstan', 2016),
 ('Kiribati', 2016),
 ('Kuwait', 2016),
 ('Kyrgyzstan', 2016),
 ('Latvia', 2016),
 ('Luxembourg', 2016),
 ('Macau', 2016),
 ('Maldives', 2016),
 ('Malta', 2016),
 ('Mexico', 2016),
 ('Montenegro', 2016),
 ('New Zealand', 2016),
 ('Nicaragua', 2016),
 ('Norway', 2016),
 ('Oman', 2016),
 ('Panama', 2016),
 ('Paraguay', 2016),
 ('Philippines', 2016),
 ('Poland', 2016),
 ('Portugal', 2016),
 ('Puerto Rico', 2016),
 ('Republic of Korea', 2016),
 ('Russian Federation', 2016),
 ('Saint Kitts and Nevis', 2016),
 ('Saint Lucia', 2016),
 ('Saint Vincent and Grenadines', 2016),
 ('San Marino', 2016),
 ('Serbia', 2016),
 ('Seychelles', 2016),
 ('Singapore', 2016),
 ('Slovakia', 2016),
 ('Slovenia', 2016),
 ('South Africa', 2016),
 ('Spain', 2016),
 ('Sri Lanka', 2016),
 ('Suriname', 2016),
 ('Switzerland', 2016),
 ('Trinidad and Tobago', 2016),
 ('Turkey', 2016),
 ('Turkmenistan', 2016),
 ('Ukraine', 2016),
 ('United Arab Emirates', 2016),
 ('United Kingdom', 2016),
 ('United States', 2016),
 ('Uruguay', 2016),
 ('Uzbekistan', 2016)]