In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv('data1.csv')
data

,Unnamed: 0,TIME,GEO,UNIT,AGE,SEX,Value,Flag and Footnotes
0,0,2005,European Union - 27 countries (from 2020),Percentage,From 15 to 64 years,Total,24.4,NaN
1,1,2005,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,26.4,NaN
2,2,2005,Belgium,Percentage,From 15 to 64 years,Total,41.0,NaN
3,3,2005,Bulgaria,Percentage,From 15 to 64 years,Total,7.7,NaN
4,4,2005,Czechia,Percentage,From 15 to 64 years,Total,26.8,NaN
...,...,...,...,...,...,...,...,...
85,85,2015,Slovenia,Percentage,From 15 to 64 years,Total,43.2,NaN
86,86,2015,Slovakia,Percentage,From 15 to 64 years,Total,47.2,NaN
87,87,2015,Finland,Percentage,From 15 to 64 years,Total,55.2,NaN
88,88,2015,Sweden,Percentage,From 15 to 64 years,Total,45.4,NaN
89,89,2015,United Kingdom,Percentage,From 15 to 64 years,Total,50.6,NaN

In [7]:
data.drop(range(0,90,2), axis = 0, inplace = True)

In [8]:
data

,Unnamed: 0,TIME,GEO,UNIT,AGE,SEX,Value,Flag and Footnotes
1,1,2005,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,26.4,NaN
3,3,2005,Bulgaria,Percentage,From 15 to 64 years,Total,7.7,NaN
5,5,2005,Denmark,Percentage,From 15 to 64 years,Total,36.5,NaN
7,7,2005,Estonia,Percentage,From 15 to 64 years,Total,29.8,NaN
9,9,2005,Greece,Percentage,From 15 to 64 years,Total,13.4,NaN
11,11,2005,France,Percentage,From 15 to 64 years,Total,24.5,NaN
13,13,2005,Italy,Percentage,From 15 to 64 years,Total,17.8,NaN
15,15,2005,Latvia,Percentage,From 15 to 64 years,Total,21.9,NaN
17,17,2005,Luxembourg,Percentage,From 15 to 64 years,Total,36.7,NaN
19,19,2005,Malta,Percentage,From 15 to 64 years,Total,35.3,NaN
21,21,2005,Austria,Percentage,From 15 to 64 years,Total,37.5,NaN
23,23,2005,Portugal,Percentage,From 15 to 64 years,Total,15.3,NaN
25,25,2005,Slovenia,Percentage,From 15 to 64 years,Total,38.4,NaN
27,27,2005,Finland,Percentage,From 15 to 64 years,Total,52.7,NaN
29,29,2005,United Kingdom,Percentage,From 15 to 64 years,Total,39.1,NaN
31,31,2010,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,34.0,NaN
33,33,2010,Bulgaria,Percentage,From 15 to 64 years,Total,9.5,NaN
35,35,2010,Denmark,Percentage,From 15 to 64 years,Total,44.4,NaN
37,37,2010,Estonia,Percentage,From 15 to 64 years,Total,37.2,NaN
39,39,2010,Greece,Percentage,From 15 to 64 years,Total,14.0,NaN
41,41,2010,France,Percentage,From 15 to 64 years,Total,25.2,NaN
43,43,2010,Italy,Percentage,From 15 to 64 years,Total,26.5,NaN
45,45,2010,Latvia,Percentage,From 15 to 64 years,Total,29.8,NaN
47,47,2010,Luxembourg,Percentage,From 15 to 64 years,Total,35.1,NaN
49,49,2010,Malta,Percentage,From 15 to 64 years,Total,31.8,NaN
51,51,2010,Austria,Percentage,From 15 to 64 years,Total,41.5,NaN
53,53,2010,Portugal,Percentage,From 15 to 64 years,Total,29.8,NaN
55,55,2010,Slovenia,Percentage,From 15 to 64 years,Total,48.2,NaN
57,57,2010,Finland,Percentage,From 15 to 64 years,Total,51.6,NaN
59,59,2010,United Kingdom,Percentage,From 15 to 64 years,Total,45.7,NaN
61,61,2015,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,39.0,NaN
63,63,2015,Bulgaria,Percentage,From 15 to 64 years,Total,15.9,NaN
65,65,2015,Denmark,Percentage,From 15 to 64 years,Total,38.0,NaN
67,67,2015,Estonia,Percentage,From 15 to 64 years,Total,49.2,NaN
69,69,2015,Greece,Percentage,From 15 to 64 years,Total,8.8,NaN
71,71,2015,France,Percentage,From 15 to 64 years,Total,40.8,NaN
73,73,2015,Italy,Percentage,From 15 to 64 years,Total,30.4,NaN
75,75,2015,Latvia,Percentage,From 15 to 64 years,Total,34.1,NaN
77,77,2015,Luxembourg,Percentage,From 15 to 64 years,Total,49.2,NaN
79,79,2015,Malta,Percentage,From 15 to 64 years,Total,38.4,NaN
81,81,2015,Austria,Percentage,From 15 to 64 years,Total,43.8,NaN
83,83,2015,Portugal,Percentage,From 15 to 64 years,Total,26.0,NaN
85,85,2015,Slovenia,Percentage,From 15 to 64 years,Total,43.2,NaN
87,87,2015,Finland,Percentage,From 15 to 64 years,Total,55.2,NaN
89,89,2015,United Kingdom,Percentage,From 15 to 64 years,Total,50.6,NaN

In [3]:
rows = [i for i in range(0,90,2)]

data.drop(rows, axis = 0, inplace = True)
data

,Unnamed: 0,TIME,GEO,UNIT,AGE,SEX,Value,Flag and Footnotes
1,1,2005,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,26.4,NaN
3,3,2005,Bulgaria,Percentage,From 15 to 64 years,Total,7.7,NaN
5,5,2005,Denmark,Percentage,From 15 to 64 years,Total,36.5,NaN
7,7,2005,Estonia,Percentage,From 15 to 64 years,Total,29.8,NaN
9,9,2005,Greece,Percentage,From 15 to 64 years,Total,13.4,NaN
11,11,2005,France,Percentage,From 15 to 64 years,Total,24.5,NaN
13,13,2005,Italy,Percentage,From 15 to 64 years,Total,17.8,NaN
15,15,2005,Latvia,Percentage,From 15 to 64 years,Total,21.9,NaN
17,17,2005,Luxembourg,Percentage,From 15 to 64 years,Total,36.7,NaN
19,19,2005,Malta,Percentage,From 15 to 64 years,Total,35.3,NaN
21,21,2005,Austria,Percentage,From 15 to 64 years,Total,37.5,NaN
23,23,2005,Portugal,Percentage,From 15 to 64 years,Total,15.3,NaN
25,25,2005,Slovenia,Percentage,From 15 to 64 years,Total,38.4,NaN
27,27,2005,Finland,Percentage,From 15 to 64 years,Total,52.7,NaN
29,29,2005,United Kingdom,Percentage,From 15 to 64 years,Total,39.1,NaN
31,31,2010,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,34.0,NaN
33,33,2010,Bulgaria,Percentage,From 15 to 64 years,Total,9.5,NaN
35,35,2010,Denmark,Percentage,From 15 to 64 years,Total,44.4,NaN
37,37,2010,Estonia,Percentage,From 15 to 64 years,Total,37.2,NaN
39,39,2010,Greece,Percentage,From 15 to 64 years,Total,14.0,NaN
41,41,2010,France,Percentage,From 15 to 64 years,Total,25.2,NaN
43,43,2010,Italy,Percentage,From 15 to 64 years,Total,26.5,NaN
45,45,2010,Latvia,Percentage,From 15 to 64 years,Total,29.8,NaN
47,47,2010,Luxembourg,Percentage,From 15 to 64 years,Total,35.1,NaN
49,49,2010,Malta,Percentage,From 15 to 64 years,Total,31.8,NaN
51,51,2010,Austria,Percentage,From 15 to 64 years,Total,41.5,NaN
53,53,2010,Portugal,Percentage,From 15 to 64 years,Total,29.8,NaN
55,55,2010,Slovenia,Percentage,From 15 to 64 years,Total,48.2,NaN
57,57,2010,Finland,Percentage,From 15 to 64 years,Total,51.6,NaN
59,59,2010,United Kingdom,Percentage,From 15 to 64 years,Total,45.7,NaN
61,61,2015,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,39.0,NaN
63,63,2015,Bulgaria,Percentage,From 15 to 64 years,Total,15.9,NaN
65,65,2015,Denmark,Percentage,From 15 to 64 years,Total,38.0,NaN
67,67,2015,Estonia,Percentage,From 15 to 64 years,Total,49.2,NaN
69,69,2015,Greece,Percentage,From 15 to 64 years,Total,8.8,NaN
71,71,2015,France,Percentage,From 15 to 64 years,Total,40.8,NaN
73,73,2015,Italy,Percentage,From 15 to 64 years,Total,30.4,NaN
75,75,2015,Latvia,Percentage,From 15 to 64 years,Total,34.1,NaN
77,77,2015,Luxembourg,Percentage,From 15 to 64 years,Total,49.2,NaN
79,79,2015,Malta,Percentage,From 15 to 64 years,Total,38.4,NaN
81,81,2015,Austria,Percentage,From 15 to 64 years,Total,43.8,NaN
83,83,2015,Portugal,Percentage,From 15 to 64 years,Total,26.0,NaN
85,85,2015,Slovenia,Percentage,From 15 to 64 years,Total,43.2,NaN
87,87,2015,Finland,Percentage,From 15 to 64 years,Total,55.2,NaN
89,89,2015,United Kingdom,Percentage,From 15 to 64 years,Total,50.6,NaN

In [4]:
data.index[1::2]

Int64Index([ 3,  7, 11, 15, 19, 23, 27, 31, 35, 39, 43, 47, 51, 55, 59, 63, 67,
            71, 75, 79, 83, 87],
           dtype='int64')

In [5]:
data

,Unnamed: 0,TIME,GEO,UNIT,AGE,SEX,Value,Flag and Footnotes
1,1,2005,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,26.4,NaN
3,3,2005,Bulgaria,Percentage,From 15 to 64 years,Total,7.7,NaN
5,5,2005,Denmark,Percentage,From 15 to 64 years,Total,36.5,NaN
7,7,2005,Estonia,Percentage,From 15 to 64 years,Total,29.8,NaN
9,9,2005,Greece,Percentage,From 15 to 64 years,Total,13.4,NaN
11,11,2005,France,Percentage,From 15 to 64 years,Total,24.5,NaN
13,13,2005,Italy,Percentage,From 15 to 64 years,Total,17.8,NaN
15,15,2005,Latvia,Percentage,From 15 to 64 years,Total,21.9,NaN
17,17,2005,Luxembourg,Percentage,From 15 to 64 years,Total,36.7,NaN
19,19,2005,Malta,Percentage,From 15 to 64 years,Total,35.3,NaN
21,21,2005,Austria,Percentage,From 15 to 64 years,Total,37.5,NaN
23,23,2005,Portugal,Percentage,From 15 to 64 years,Total,15.3,NaN
25,25,2005,Slovenia,Percentage,From 15 to 64 years,Total,38.4,NaN
27,27,2005,Finland,Percentage,From 15 to 64 years,Total,52.7,NaN
29,29,2005,United Kingdom,Percentage,From 15 to 64 years,Total,39.1,NaN
31,31,2010,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,34.0,NaN
33,33,2010,Bulgaria,Percentage,From 15 to 64 years,Total,9.5,NaN
35,35,2010,Denmark,Percentage,From 15 to 64 years,Total,44.4,NaN
37,37,2010,Estonia,Percentage,From 15 to 64 years,Total,37.2,NaN
39,39,2010,Greece,Percentage,From 15 to 64 years,Total,14.0,NaN
41,41,2010,France,Percentage,From 15 to 64 years,Total,25.2,NaN
43,43,2010,Italy,Percentage,From 15 to 64 years,Total,26.5,NaN
45,45,2010,Latvia,Percentage,From 15 to 64 years,Total,29.8,NaN
47,47,2010,Luxembourg,Percentage,From 15 to 64 years,Total,35.1,NaN
49,49,2010,Malta,Percentage,From 15 to 64 years,Total,31.8,NaN
51,51,2010,Austria,Percentage,From 15 to 64 years,Total,41.5,NaN
53,53,2010,Portugal,Percentage,From 15 to 64 years,Total,29.8,NaN
55,55,2010,Slovenia,Percentage,From 15 to 64 years,Total,48.2,NaN
57,57,2010,Finland,Percentage,From 15 to 64 years,Total,51.6,NaN
59,59,2010,United Kingdom,Percentage,From 15 to 64 years,Total,45.7,NaN
61,61,2015,European Union - 28 countries (2013-2020),Percentage,From 15 to 64 years,Total,39.0,NaN
63,63,2015,Bulgaria,Percentage,From 15 to 64 years,Total,15.9,NaN
65,65,2015,Denmark,Percentage,From 15 to 64 years,Total,38.0,NaN
67,67,2015,Estonia,Percentage,From 15 to 64 years,Total,49.2,NaN
69,69,2015,Greece,Percentage,From 15 to 64 years,Total,8.8,NaN
71,71,2015,France,Percentage,From 15 to 64 years,Total,40.8,NaN
73,73,2015,Italy,Percentage,From 15 to 64 years,Total,30.4,NaN
75,75,2015,Latvia,Percentage,From 15 to 64 years,Total,34.1,NaN
77,77,2015,Luxembourg,Percentage,From 15 to 64 years,Total,49.2,NaN
79,79,2015,Malta,Percentage,From 15 to 64 years,Total,38.4,NaN
81,81,2015,Austria,Percentage,From 15 to 64 years,Total,43.8,NaN
83,83,2015,Portugal,Percentage,From 15 to 64 years,Total,26.0,NaN
85,85,2015,Slovenia,Percentage,From 15 to 64 years,Total,43.2,NaN
87,87,2015,Finland,Percentage,From 15 to 64 years,Total,55.2,NaN
89,89,2015,United Kingdom,Percentage,From 15 to 64 years,Total,50.6,NaN